<% if resource.errors.any? %>
  <div id="error_explanation">
    <h3>
      エラーが発生しました。
    </h3>
    <h4>原因：</h4>
    <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
