<h3>使い方</h3>
<%= image_tag "/usage.png", :class => "help" %>
<ul>
    <li>最大<%= ENV['IMAGE_LIMIT'] %>枚までの画像が一緒に投稿できます</li>
    <li>最大<%= ENV['CONTENT_MAX_LENGTH'] %>文字までの投稿ができるので、SS置き場としても使えます</li>
    <li>TLには、フォローしている人以外にも、「たくさんほめている人」の投稿が登場します</li>
    <li>どうしても見たくない人の投稿がおすすめ表示されてしまう場合、ミュート機能を使えば見えなくなります</li>
    <li>フォローを外したり、ミュートしても、相手には一切わからないようになっていますのでご安心ください</li>
    <li>18歳未満もしくは未成年に禁止されているコンテンツを直接貼り付けないでください（注意書きつきでリンクを貼るなどは可）</li>
    <li>投稿を見たり、ほめるのはログインしなくてもできるので、積極的に投稿やプロフィールへのリンクを他SNSにも共有してくださると管理者としては嬉しいです！</li>
</ul>
