<h3>プライバシーポリシー</h3>
<div>しみわか（以下，管理者）は，本ウェブサイト上で提供するサービス（以下，「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</div>

<h4>第1条（個人情報）</h4>
<div>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，本サービスにおいてはメールアドレスおよびTwitterアカウントの情報を指します。</div>

<h4>第2条（個人情報の収集方法）</h4>
<div>管理者は，ユーザーが利用登録をする際にメールアドレスおよびTwitterアカウントの情報を収集することがあります。</div>

<h4>第3条（個人情報を収集・利用する目的）</h4>
<div>管理者が個人情報を収集・利用する目的は，以下のとおりです。</div>

<div>・管理者サービスの提供・運営のため</div>
<div>・ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</div>
<div>・メンテナンス，重要なお知らせなど必要に応じたご連絡のため</div>
<div>・利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</div>

<h4>第4条（利用目的の変更）</h4>
<div>管理者は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</div>
<div>利用目的の変更を行った場合には，変更後の目的について，管理者所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</div>

<h4>第5条（個人情報の第三者提供）</h4>
<div>管理者は，利用者が登録に使ったメールアドレスの情報を第三者に開示することはありません。</div>
<div>ただし，個人情報保護法その他の法令で認められる場合を除きます。</div>
<div>ログインに利用したTwitterアカウントについては、自動で連携し表示されますが、設定より非表示できます。</div>

<h4>第6条（プライバシーポリシーの変更）</h4>
<div>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</div>
<div>管理者が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</div>

<h4>第7条（お問い合わせ窓口）</h4>
<div>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</div>

<div>Eメールアドレス：<a href="mailto:koganei@nemucure.sakura.ne.jp">koganei@nemucure.sakura.ne.jp</a></div>